@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using XrmPath.UmbracoUtils
@using Umbraco.Cms.Core.Services;
@using Umbraco.Cms.Web.Common;

@*@inject IMediaService MediaService*@
@inject UmbracoHelper umbracoHelper

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var pUtil = new PublishedContentUtility(umbracoHelper);
    var site = Model.Root();
    var selection = site.Children.Where(x => x.IsVisible());
}
<!-- comment out the following line if you want to remove the root node name from the top navigation -->
<a class="nav-link @Html.Raw(Model.Id == site.Id ? "navi-link--active" : "")" href="@pUtil.GetUrl(site)" target="@pUtil.GetTarget(site)">@site.Name</a>
@foreach (var item in selection)
{
    <a class="nav-link @(item.IsAncestorOrSelf(Model) ? "nav-link--active" : null)" href="@pUtil.GetUrl(item)" target="@pUtil.GetTarget(item)">@item.Name</a>
}