@model LoadingModel
@using XrmPath.UmbracoCore.Models
@using XrmPath.UmbracoCore.Helpers



@if (Model.Type == 0)
{
    <div class="@Model.LoadingClass" id="@Model.LoadingId" style="@Model.LoadingStyle">
        <img src="@SiteUrlHelper.GetSiteUrl(DefaultImages.LoadingImage)" aria-label="Loading" alt="Loading" />
        @if (!string.IsNullOrEmpty(Model.LoadingMessage))
        {
            @:&nbsp;<strong>@Model.LoadingMessage</strong>
        }
    </div>
}
else if (Model.Type == 1)
{
    <div class="@Model.LoadingClass" id="@Model.LoadingId" style="@Model.LoadingStyle">
        <div class="loadingContainer active">
            <div class="loadingSection">
                <img src="@SiteUrlHelper.GetSiteUrl(DefaultImages.LoadingImage)" aria-label="Loading" alt="Loading" />
                <div class="loadingMessage"> @Model.LoadingMessage</div>
            </div>
        </div>
        <div class="loadingErrorMessage"></div>
    </div>
}
