@inherits UmbracoViewPage
@using System.Collections.Generic
@using XrmPath.UmbracoCore.Utilities
@using XrmPath.UmbracoCore.Models

@{
    IPublishedContent homePage = Model.AncestorOrSelf(UmbracoCustomTypes.HomePage);
    IPublishedContent articleList = homePage.Children.Where(x => x.ContentType.Alias == UmbracoCustomTypes.ArticleList && x.IsVisible()).FirstOrDefault();
    IEnumerable<IPublishedContent> articles = articleList.Children.Where(x => x.IsVisible() && x.ContentType.Alias == UmbracoCustomTypes.Article).OrderByDescending(x => x.Value<DateTime>(UmbracoCustomFields.ArticleDate));
    bool isHomePage = Model.Id == homePage.Id;
    int itemsToShow = isHomePage ? 3 : 99;
}

<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">@Model.Value(UmbracoCustomFields.LatestArticlesTitle, fallback: Fallback.ToAncestors)</h2>
            <p class="text-center">@Model.Value(UmbracoCustomFields.LatestArticlesSubtitle, fallback: Fallback.ToAncestors)</p>
        </div>
        @if (articles.Any())
        {
            <div class="row articles">
                @foreach (IPublishedContent item in articles.OrderByDescending(x => x.Value<DateTime>(UmbracoCustomFields.ArticleDate)).Take(itemsToShow))
                {
                    //string imageUrl = item.HasValue("mainImage") ? item.GetPropertyValue<IPublishedContent>("mainImage").Url : "/img/carousel.jpg";
                    //var mediaItem = item.GetMediaItem("mainImage");
                    //string imageUrl = mediaItem != null ? mediaItem.Url : "/img/carousel.jpg";
                    var cropUrl = item.GetMediaCropUrl(UmbracoCustomFields.MainImage, "thumbnail");
                    string title = item.GetTitle();
                    string description = item.GetDescription();

                    <div class="col-md-4 col-sm-6 item">
                        @*<a href="@item.Url"><img class="img-responsive" src="@(imageUrl)?width=720&height=455&mode=crop&anchor=center"></a>*@
                        <a href="@item.Url"><img class="img-responsive" src="@(cropUrl)"></a>
                        <h3 class="name"><a href="@item.Url">@title</a></h3>
                        <p class="description">@description</p>
                        <a href="@item.Url" class="action"><i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                }
            </div>
        }
    </div>
</div>
